body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
}
h1{
    font-size: 60px;
}
section{
    margin-bottom: 7%;
}

.orangered{
    color: orangered;
}
.flexible{
    display: flex;
    
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.head-first{
    margin-top: 20%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    
}
.center{
    text-align: center;
    margin-bottom: 3%;
}
.first-part{
    margin-left: 7%;
    margin-top: 3%;  
}
.first-part p{
    margin-bottom: 10%;
}
.second-part{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.second-part p{
    margin-bottom: 15%;
}
.second-part img{
    width: 62.3%;
    padding-left: 40%;
  
}
.third-part p{
    margin-bottom: 5%;
}
.half-width-new{
    width: 33.3%;
    border: 5px white solid;
    border-radius: 30px;
    box-shadow:  10px 10px 40px grey;
    padding: 1%;
    margin-bottom: 3%;
}
.half-width-new img{
    width: 100%;   
}
.half-width-review{
    width: 50%;
    padding: 2%;
    margin-bottom: 3%;
}
.reviews-part{
    margin-left: 7%;
    margin-right: 7%;
}
.bottom-container{
	background-color: #01090c;
	padding: 1% 0 4%;
    color: white;
    text-align: center;
}
.copyright{
    margin-top: 3%;
}

#about{
    padding-top: 7%;
    padding-right: 10%;
    padding-left: 20%;
}
#one{
    margin-left: 6%;
    margin-right: 3%;
}
#two{
    margin-right: 3% ;
    margin-left: 3%;
}
#three{
    margin-right: 6%;
    margin-left: 3%;
    
}

#four{
    margin-left: 6%;
    margin-right: 3%;
    border: 7px solid rgb(117, 10, 10);
  
}
#five{
    margin-right: 3% ;
    margin-left: 3%;
    border: 7px solid rgb(5, 5, 49);

}
#six{
    margin-right: 6%;
    margin-left: 3%;
    border: 7px solid rgb(16, 112, 7);
}
#seven{
    margin-left: 6%;
    margin-right: 3%;
    border: 7px solid rgb(120, 207, 5);
}
#eight{
    margin-right: 3% ;
    margin-left: 3%;
    border: 7px solid rgb(228, 176, 35);
}
#nine{
    margin-right: 6%;
    margin-left: 3%;
    border: 7px solid rgb(221, 29, 119);
}
#ten{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(5, 10, 54), rgb(100, 86, 219));
    border-image-slice: 1;
    margin-right: 7%;
    
}
#eleven{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(211, 13, 105), rgb(78, 3, 60));
    border-image-slice: 1;
 
}
#twelve{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(14, 231, 148), rgb(3, 82, 36));
    border-image-slice: 1;
    margin-right: 7%;

}
#thirteen{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(194, 105, 53), rgb(194, 108, 9));
    border-image-slice: 1;
}

